@using Catom.Sky.Web.Helpers
@using LM.Utility
@using Microsoft.Practices.Unity

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>天空网</title>

    @RenderSection("HeadDefinedScript", false)

    @RenderSection("Head", false)
</head>
<body class="body-template">
    @RenderBody()
</body>
</html>

