@{
    ViewBag.Title = "Test";
}

<html>
<head>
   <script>

       require = {baseUrl:'/app'};
   </script>
</head>
<body>
    <script type="text/javascript" src="/app/libs/require/require.min.js" defer async="async" data-main="/app/appInit.js"></script>
    <div>Test ，below is template。</div>
    <br />
    <br />
    <ui-view></ui-view>
</body>
</html>





