@{
    ViewBag.Title = "Test";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/Content/js/require/require.min.js" defer async="async" data-main="/app/appInit"></script>
    @*<script src="/Content/js/angular/angular.min.js"></script>*@

</head>
<body>
    <br />        aaaaaaa
    <br />
    <br />
    <div ng-controller="HelloCtrl">{{hello}}</div>

</body>
</html>





