@{
    ViewBag.Title = "Test";
}

<html>
<head>
    <title>@ViewBag.Title</title>
   
    @*<script src="/Content/js/angular/angular.min.js"></script>*@

</head>
<body>
    <script src="/Content/js/require/require.min.js" data-main="/app/appInit"></script>
    <br />        aaaaaaa
    <br />
    <br />
    <ui-view></ui-view>

</body>
</html>





