@{
    ViewBag.Title = "Test";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    @*<script src="/Content/js/require/require.min.js"></script>*@
    <script src="/Content/js/angular/angular.min.js"></script>

</head>
<body>
    <br />        aaaaaaa
    <br />
    <br />

</body>
</html>





