/CSharpDemo/bin/Debug/CSharpDemo.exe
/CSharpDemo/bin/Debug/CSharpDemo.exe.config
/CSharpDemo/bin/Debug/CSharpDemo.pdb
/CSharpDemo/bin/Debug/CSharpDemo.vshost.exe
/CSharpDemo/bin/Debug/CSharpDemo.vshost.exe.config
/CSharpDemo/bin/Debug/MySql.Data.dll
/CSharpDemo/bin/Debug/Newtonsoft.Json.dll
/CSharpDemo/bin/Debug/Newtonsoft.Json.xml
/CSharpDemo/obj/Debug/CSharpDemo.csproj.FileListAbsolute.txt
/CSharpDemo/obj/Debug/CSharpDemo.csprojResolveAssemblyReference.cache
/CSharpDemo/obj/Debug/CSharpDemo.exe
/CSharpDemo/obj/Debug/CSharpDemo.pdb
/CSharpDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharpDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSharpDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CSharpDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.Sky.Component/bin/Debug/Catom.Sky.Component.dll
/Catom.Sky.Component/bin/Debug/Catom.Sky.Component.pdb
/Catom.Sky.Component/bin/Debug/Dapper.dll
/Catom.Sky.Component/bin/Debug/Dapper.pdb
/Catom.Sky.Component/bin/Debug/Dapper.xml
/Catom.Sky.Component/bin/Debug/Enyim.Caching.dll
/Catom.Sky.Component/bin/Debug/Memcached.ClientLibrary.dll
/Catom.Sky.Component/bin/Debug/MySql.Data.dll
/Catom.Sky.Component/obj/Debug/Catom.Sky.Component.csproj.FileListAbsolute.txt
/Catom.Sky.Component/obj/Debug/Catom.Sky.Component.csprojResolveAssemblyReference.cache
/Catom.Sky.Component/obj/Debug/Catom.Sky.Component.dll
/Catom.Sky.Component/obj/Debug/Catom.Sky.Component.pdb
/Catom.Sky.Component/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.Sky.Component/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.Sky.Component/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.Sky.Component/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.Sky.Services/bin/Debug/Catom.Sky.Component.dll
/Catom.Sky.Services/bin/Debug/Catom.Sky.Component.pdb
/Catom.Sky.Services/bin/Debug/Catom.Sky.Services.dll
/Catom.Sky.Services/bin/Debug/Catom.Sky.Services.pdb
/Catom.Sky.Services/bin/Debug/Dapper.dll
/Catom.Sky.Services/bin/Debug/Dapper.pdb
/Catom.Sky.Services/bin/Debug/Dapper.xml
/Catom.Sky.Services/bin/Debug/Enyim.Caching.dll
/Catom.Sky.Services/bin/Debug/Memcached.ClientLibrary.dll
/Catom.Sky.Services/bin/Debug/MySql.Data.dll
/Catom.Sky.Services/obj/Debug/Catom.Sky.Services.csproj.FileListAbsolute.txt
/Catom.Sky.Services/obj/Debug/Catom.Sky.Services.csprojResolveAssemblyReference.cache
/Catom.Sky.Services/obj/Debug/Catom.Sky.Services.dll
/Catom.Sky.Services/obj/Debug/Catom.Sky.Services.pdb
/Catom.Sky.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.Sky.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.Sky.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.Sky.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.Sky.Web/bin/Antlr3.Runtime.dll
/Catom.Sky.Web/bin/Catom.Sky.Component.dll
/Catom.Sky.Web/bin/Catom.Sky.Component.pdb
/Catom.Sky.Web/bin/Catom.Sky.Services.dll
/Catom.Sky.Web/bin/Catom.Sky.Services.pdb
/Catom.Sky.Web/bin/Catom.Sky.Web.dll
/Catom.Sky.Web/bin/Catom.Sky.Web.dll.config
/Catom.Sky.Web/bin/Catom.Sky.Web.pdb
/Catom.Sky.Web/bin/Dapper.dll
/Catom.Sky.Web/bin/Dapper.pdb
/Catom.Sky.Web/bin/Dapper.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.AspNet.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.AspNet.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.Core.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.Core.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.OAuth.Consumer.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.OAuth.Consumer.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.OAuth.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.OAuth.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/Catom.Sky.Web/bin/DotNetOpenAuth.OpenId.dll
/Catom.Sky.Web/bin/DotNetOpenAuth.OpenId.xml
/Catom.Sky.Web/bin/EntityFramework.dll
/Catom.Sky.Web/bin/EntityFramework.xml
/Catom.Sky.Web/bin/Enyim.Caching.dll
/Catom.Sky.Web/bin/Memcached.ClientLibrary.dll
/Catom.Sky.Web/bin/Microsoft.Data.Edm.dll
/Catom.Sky.Web/bin/Microsoft.Data.Edm.xml
/Catom.Sky.Web/bin/Microsoft.Data.OData.dll
/Catom.Sky.Web/bin/Microsoft.Data.OData.xml
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.Configuration.dll
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.Configuration.xml
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.Mvc.dll
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.Mvc.xml
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.dll
/Catom.Sky.Web/bin/Microsoft.Practices.Unity.xml
/Catom.Sky.Web/bin/Microsoft.Web.Infrastructure.dll
/Catom.Sky.Web/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
/Catom.Sky.Web/bin/Microsoft.Web.WebPages.OAuth.dll
/Catom.Sky.Web/bin/Microsoft.Web.WebPages.OAuth.xml
/Catom.Sky.Web/bin/Mono.Math.dll
/Catom.Sky.Web/bin/Mono.Math.xml
/Catom.Sky.Web/bin/MySql.Data.dll
/Catom.Sky.Web/bin/Newtonsoft.Json.dll
/Catom.Sky.Web/bin/Newtonsoft.Json.xml
/Catom.Sky.Web/bin/Org.Mentalis.Security.Cryptography.dll
/Catom.Sky.Web/bin/Org.Mentalis.Security.Cryptography.xml
/Catom.Sky.Web/bin/System.Net.Http.Formatting.dll
/Catom.Sky.Web/bin/System.Net.Http.Formatting.xml
/Catom.Sky.Web/bin/System.Spatial.dll
/Catom.Sky.Web/bin/System.Spatial.xml
/Catom.Sky.Web/bin/System.Web.Helpers.dll
/Catom.Sky.Web/bin/System.Web.Helpers.xml
/Catom.Sky.Web/bin/System.Web.Http.OData.dll
/Catom.Sky.Web/bin/System.Web.Http.OData.xml
/Catom.Sky.Web/bin/System.Web.Http.WebHost.dll
/Catom.Sky.Web/bin/System.Web.Http.WebHost.xml
/Catom.Sky.Web/bin/System.Web.Http.dll
/Catom.Sky.Web/bin/System.Web.Http.xml
/Catom.Sky.Web/bin/System.Web.Mvc.dll
/Catom.Sky.Web/bin/System.Web.Mvc.xml
/Catom.Sky.Web/bin/System.Web.Optimization.dll
/Catom.Sky.Web/bin/System.Web.Razor.dll
/Catom.Sky.Web/bin/System.Web.Razor.xml
/Catom.Sky.Web/bin/System.Web.WebPages.Deployment.dll
/Catom.Sky.Web/bin/System.Web.WebPages.Deployment.xml
/Catom.Sky.Web/bin/System.Web.WebPages.Razor.dll
/Catom.Sky.Web/bin/System.Web.WebPages.Razor.xml
/Catom.Sky.Web/bin/System.Web.WebPages.dll
/Catom.Sky.Web/bin/System.Web.WebPages.xml
/Catom.Sky.Web/bin/WebActivatorEx.dll
/Catom.Sky.Web/bin/WebGrease.dll
/Catom.Sky.Web/bin/WebMatrix.Data.dll
/Catom.Sky.Web/bin/WebMatrix.Data.xml
/Catom.Sky.Web/bin/WebMatrix.WebData.dll
/Catom.Sky.Web/bin/WebMatrix.WebData.xml
/Catom.Sky.Web/bin/de/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/de/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/de/System.Spatial.resources.dll
/Catom.Sky.Web/bin/es/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/es/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/es/System.Spatial.resources.dll
/Catom.Sky.Web/bin/fr/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/fr/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/fr/System.Spatial.resources.dll
/Catom.Sky.Web/bin/it/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/it/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/it/System.Spatial.resources.dll
/Catom.Sky.Web/bin/ja/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/ja/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/ja/System.Spatial.resources.dll
/Catom.Sky.Web/bin/ko/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/ko/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/ko/System.Spatial.resources.dll
/Catom.Sky.Web/bin/log4net.dll
/Catom.Sky.Web/bin/ru/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/ru/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/ru/System.Spatial.resources.dll
/Catom.Sky.Web/bin/zh-Hans/EntityFramework.resources.dll
/Catom.Sky.Web/bin/zh-Hans/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/zh-Hans/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/zh-Hans/Microsoft.Web.WebPages.OAuth.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Spatial.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Helpers.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Http.OData.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Http.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Mvc.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Optimization.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.Razor.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/Catom.Sky.Web/bin/zh-Hans/System.Web.WebPages.resources.dll
/Catom.Sky.Web/bin/zh-Hans/WebMatrix.Data.resources.dll
/Catom.Sky.Web/bin/zh-Hans/WebMatrix.WebData.resources.dll
/Catom.Sky.Web/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
/Catom.Sky.Web/bin/zh-Hant/Microsoft.Data.OData.resources.dll
/Catom.Sky.Web/bin/zh-Hant/System.Spatial.resources.dll
/Catom.Sky.Web/obj/Debug/Catom.Sky.Web.csproj.FileListAbsolute.txt
/Catom.Sky.Web/obj/Debug/Catom.Sky.Web.csprojResolveAssemblyReference.cache
/Catom.Sky.Web/obj/Debug/Catom.Sky.Web.dll
/Catom.Sky.Web/obj/Debug/Catom.Sky.Web.pdb
/Catom.Sky.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.Sky.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.Sky.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.Sky.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.Sky.WindowsService/bin/Debug/Catom.Sky.WindowsService.exe
/Catom.Sky.WindowsService/bin/Debug/Catom.Sky.WindowsService.exe.config
/Catom.Sky.WindowsService/bin/Debug/Catom.Sky.WindowsService.pdb
/Catom.Sky.WindowsService/obj/Debug/Catom.Sky.WindowsService.csproj.FileListAbsolute.txt
/Catom.Sky.WindowsService/obj/Debug/Catom.Sky.WindowsService.csprojResolveAssemblyReference.cache
/Catom.Sky.WindowsService/obj/Debug/Catom.Sky.WindowsService.exe
/Catom.Sky.WindowsService/obj/Debug/Catom.Sky.WindowsService.pdb
/Catom.Sky.WindowsService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.Sky.WindowsService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.Sky.WindowsService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.Sky.WindowsService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.Sky/bin/Debug/Catom.Sky.Component.dll
/Catom.Sky/bin/Debug/Catom.Sky.Component.pdb
/Catom.Sky/bin/Debug/Catom.Sky.exe
/Catom.Sky/bin/Debug/Catom.Sky.exe.config
/Catom.Sky/bin/Debug/Catom.Sky.pdb
/Catom.Sky/bin/Debug/Catom.Sky.vshost.exe
/Catom.Sky/bin/Debug/Catom.Sky.vshost.exe.config
/Catom.Sky/bin/Debug/Catom.Sky.vshost.exe.manifest
/Catom.Sky/bin/Debug/Dapper.dll
/Catom.Sky/bin/Debug/Dapper.pdb
/Catom.Sky/bin/Debug/Dapper.xml
/Catom.Sky/bin/Debug/Enyim.Caching.dll
/Catom.Sky/bin/Debug/Memcached.ClientLibrary.dll
/Catom.Sky/bin/Debug/MySql.Data.dll
/Catom.Sky/obj/Debug/Catom.Sky.csproj.FileListAbsolute.txt
/Catom.Sky/obj/Debug/Catom.Sky.csprojResolveAssemblyReference.cache
/Catom.Sky/obj/Debug/Catom.Sky.exe
/Catom.Sky/obj/Debug/Catom.Sky.pdb
/Catom.Sky/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.Sky/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.Sky/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.Sky/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Catom.WebForm/bin/Antlr3.Runtime.dll
/Catom.WebForm/bin/AspNet.ScriptManager.jQuery.UI.Combined.dll
/Catom.WebForm/bin/AspNet.ScriptManager.jQuery.dll
/Catom.WebForm/bin/Catom.WebForm.dll
/Catom.WebForm/bin/Catom.WebForm.dll.config
/Catom.WebForm/bin/Catom.WebForm.pdb
/Catom.WebForm/bin/DotNetOpenAuth.AspNet.dll
/Catom.WebForm/bin/DotNetOpenAuth.AspNet.xml
/Catom.WebForm/bin/DotNetOpenAuth.Core.dll
/Catom.WebForm/bin/DotNetOpenAuth.Core.xml
/Catom.WebForm/bin/DotNetOpenAuth.OAuth.Consumer.dll
/Catom.WebForm/bin/DotNetOpenAuth.OAuth.Consumer.xml
/Catom.WebForm/bin/DotNetOpenAuth.OAuth.dll
/Catom.WebForm/bin/DotNetOpenAuth.OAuth.xml
/Catom.WebForm/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
/Catom.WebForm/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/Catom.WebForm/bin/DotNetOpenAuth.OpenId.dll
/Catom.WebForm/bin/DotNetOpenAuth.OpenId.xml
/Catom.WebForm/bin/EntityFramework.dll
/Catom.WebForm/bin/EntityFramework.xml
/Catom.WebForm/bin/Microsoft.AspNet.FriendlyUrls.dll
/Catom.WebForm/bin/Microsoft.AspNet.FriendlyUrls.xml
/Catom.WebForm/bin/Microsoft.AspNet.Membership.OpenAuth.dll
/Catom.WebForm/bin/Microsoft.AspNet.Membership.OpenAuth.xml
/Catom.WebForm/bin/Microsoft.AspNet.Web.Optimization.WebForms.dll
/Catom.WebForm/bin/Microsoft.ScriptManager.MSAjax.dll
/Catom.WebForm/bin/Microsoft.ScriptManager.WebForms.dll
/Catom.WebForm/bin/Microsoft.Web.Infrastructure.dll
/Catom.WebForm/bin/Mono.Math.dll
/Catom.WebForm/bin/Mono.Math.xml
/Catom.WebForm/bin/Org.Mentalis.Security.Cryptography.dll
/Catom.WebForm/bin/Org.Mentalis.Security.Cryptography.xml
/Catom.WebForm/bin/System.Web.Optimization.dll
/Catom.WebForm/bin/System.Web.Providers.dll
/Catom.WebForm/bin/WebGrease.dll
/Catom.WebForm/bin/zh-Hans/EntityFramework.resources.dll
/Catom.WebForm/bin/zh-Hans/Microsoft.AspNet.FriendlyUrls.resources.dll
/Catom.WebForm/bin/zh-Hans/Microsoft.AspNet.Membership.OpenAuth.resources.dll
/Catom.WebForm/bin/zh-Hans/System.Web.Optimization.resources.dll
/Catom.WebForm/bin/zh-Hans/System.Web.Providers.resources.dll
/Catom.WebForm/obj/Debug/Catom.WebForm.csproj.FileListAbsolute.txt
/Catom.WebForm/obj/Debug/Catom.WebForm.csprojResolveAssemblyReference.cache
/Catom.WebForm/obj/Debug/Catom.WebForm.dll
/Catom.WebForm/obj/Debug/Catom.WebForm.pdb
/Catom.WebForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Catom.WebForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Catom.WebForm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Catom.WebForm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MvcDemo/bin/Antlr3.Runtime.dll
/MvcDemo/bin/DotNetOpenAuth.AspNet.dll
/MvcDemo/bin/DotNetOpenAuth.AspNet.xml
/MvcDemo/bin/DotNetOpenAuth.Core.dll
/MvcDemo/bin/DotNetOpenAuth.Core.xml
/MvcDemo/bin/DotNetOpenAuth.OAuth.Consumer.dll
/MvcDemo/bin/DotNetOpenAuth.OAuth.Consumer.xml
/MvcDemo/bin/DotNetOpenAuth.OAuth.dll
/MvcDemo/bin/DotNetOpenAuth.OAuth.xml
/MvcDemo/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
/MvcDemo/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/MvcDemo/bin/DotNetOpenAuth.OpenId.dll
/MvcDemo/bin/DotNetOpenAuth.OpenId.xml
/MvcDemo/bin/EntityFramework.dll
/MvcDemo/bin/EntityFramework.xml
/MvcDemo/bin/Microsoft.Data.Edm.dll
/MvcDemo/bin/Microsoft.Data.Edm.xml
/MvcDemo/bin/Microsoft.Data.OData.dll
/MvcDemo/bin/Microsoft.Data.OData.xml
/MvcDemo/bin/Microsoft.Web.Infrastructure.dll
/MvcDemo/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
/MvcDemo/bin/Microsoft.Web.WebPages.OAuth.dll
/MvcDemo/bin/Microsoft.Web.WebPages.OAuth.xml
/MvcDemo/bin/Mono.Math.dll
/MvcDemo/bin/Mono.Math.xml
/MvcDemo/bin/MvcDemo.dll
/MvcDemo/bin/MvcDemo.dll.config
/MvcDemo/bin/MvcDemo.pdb
/MvcDemo/bin/Newtonsoft.Json.dll
/MvcDemo/bin/Newtonsoft.Json.xml
/MvcDemo/bin/Org.Mentalis.Security.Cryptography.dll
/MvcDemo/bin/Org.Mentalis.Security.Cryptography.xml
/MvcDemo/bin/System.Net.Http.Formatting.dll
/MvcDemo/bin/System.Net.Http.Formatting.xml
/MvcDemo/bin/System.Spatial.dll
/MvcDemo/bin/System.Spatial.xml
/MvcDemo/bin/System.Web.Helpers.dll
/MvcDemo/bin/System.Web.Helpers.xml
/MvcDemo/bin/System.Web.Http.OData.dll
/MvcDemo/bin/System.Web.Http.OData.xml
/MvcDemo/bin/System.Web.Http.WebHost.dll
/MvcDemo/bin/System.Web.Http.WebHost.xml
/MvcDemo/bin/System.Web.Http.dll
/MvcDemo/bin/System.Web.Http.xml
/MvcDemo/bin/System.Web.Mvc.dll
/MvcDemo/bin/System.Web.Mvc.xml
/MvcDemo/bin/System.Web.Optimization.dll
/MvcDemo/bin/System.Web.Razor.dll
/MvcDemo/bin/System.Web.Razor.xml
/MvcDemo/bin/System.Web.WebPages.Deployment.dll
/MvcDemo/bin/System.Web.WebPages.Deployment.xml
/MvcDemo/bin/System.Web.WebPages.Razor.dll
/MvcDemo/bin/System.Web.WebPages.Razor.xml
/MvcDemo/bin/System.Web.WebPages.dll
/MvcDemo/bin/System.Web.WebPages.xml
/MvcDemo/bin/WebGrease.dll
/MvcDemo/bin/WebMatrix.Data.dll
/MvcDemo/bin/WebMatrix.Data.xml
/MvcDemo/bin/WebMatrix.WebData.dll
/MvcDemo/bin/WebMatrix.WebData.xml
/MvcDemo/bin/de/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/de/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/de/System.Spatial.resources.dll
/MvcDemo/bin/es/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/es/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/es/System.Spatial.resources.dll
/MvcDemo/bin/fr/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/fr/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/fr/System.Spatial.resources.dll
/MvcDemo/bin/it/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/it/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/it/System.Spatial.resources.dll
/MvcDemo/bin/ja/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/ja/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/ja/System.Spatial.resources.dll
/MvcDemo/bin/ko/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/ko/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/ko/System.Spatial.resources.dll
/MvcDemo/bin/ru/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/ru/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/ru/System.Spatial.resources.dll
/MvcDemo/bin/zh-Hans/EntityFramework.resources.dll
/MvcDemo/bin/zh-Hans/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/zh-Hans/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/zh-Hans/Microsoft.Web.WebPages.OAuth.resources.dll
/MvcDemo/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
/MvcDemo/bin/zh-Hans/System.Spatial.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Helpers.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Http.OData.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Http.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Mvc.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Optimization.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.Razor.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/MvcDemo/bin/zh-Hans/System.Web.WebPages.resources.dll
/MvcDemo/bin/zh-Hans/WebMatrix.Data.resources.dll
/MvcDemo/bin/zh-Hans/WebMatrix.WebData.resources.dll
/MvcDemo/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
/MvcDemo/bin/zh-Hant/Microsoft.Data.OData.resources.dll
/MvcDemo/bin/zh-Hant/System.Spatial.resources.dll
/MvcDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MvcDemo/obj/Debug/MvcDemo.csproj.FileListAbsolute.txt
/MvcDemo/obj/Debug/MvcDemo.csprojResolveAssemblyReference.cache
/MvcDemo/obj/Debug/MvcDemo.dll
/MvcDemo/obj/Debug/MvcDemo.pdb
/MvcDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MvcDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MvcDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebSocketDemo/bin/Debug/WebSocketDemo.exe
/WebSocketDemo/bin/Debug/WebSocketDemo.exe.config
/WebSocketDemo/bin/Debug/WebSocketDemo.pdb
/WebSocketDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebSocketDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebSocketDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebSocketDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebSocketDemo/obj/Debug/WebSocketDemo.csproj.FileListAbsolute.txt
/WebSocketDemo/obj/Debug/WebSocketDemo.exe
/WebSocketDemo/obj/Debug/WebSocketDemo.pdb
