<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormDemo.Properties.Settings.TestConnectionString"
            connectionString="Data Source=42.51.204.82;Initial Catalog=Test;Persist Security Info=True;User ID=catom;Password=catom1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>