@{
    ViewBag.Title = "Index";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>天空网</title>
</head>
<frameset rows="140,*,27" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/Catom/Navigation" name="nav" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" style="border-bottom:1px #ccc solid;" />
    <frame src="/Catom/Footer?TriggerOnce=yes" name='main' scrolling='Yes' noresize='noresize' />
    <frame src="/Catom/Footer" name="footer" scrolling="No" noresize="noresize" id="bottomFrame" title="bottomFrame" />
</frameset>
<noframes></noframes>
</html>