@{
    ViewBag.Title = "Navigation";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=8" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>菜单</title>
</head>
<body>
    <div class="mainContainer">
        <ul class="ribbon">
            <!--1. 退出栏-->
            <li>
                <ul class="orb">
                    <li>
                        <a href="javascript:void(0);" class="orbButton">&nbsp;</a><span>菜单</span>
                        <ul>
                            <li>
                                <a href="/Home/DeskTop" target="main">
                                    <img src="" alt="New" width="32" height="32" /><span>返回桌面</span>
                                </a>
                            </li>
                            <li>
                                <a href="LoginOut" target="_self">
                                    <img src="" alt="Exit" width="32" height="32" /><span>安全退出</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!--2. 导航菜单栏-->
            <li>
                <ul class="menu">
                    <!--菜单1-->
                    <li>
                        <a href="#ShiChang">开始</a>
                        <ul>
                            <!--菜单1，区域1-->
                            <li style="list-style: none none inside;">
                                <h2>
                                    <font size="2">&nbsp;</font>
                                </h2>
                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" alt="New" width="32" height="32" /><span>桌面</span>
                                </div>
                                <div onclick="parent.main.location.href='http://www.baidu.com'" class="nav">
                                    <img src="" width="32" height="32" />微信APP
                                </div>
                            </li>
                            <!--菜单1，区域2-->
                            <li style="list-style: none none inside;">
                                <h2><font size="2"></font>&nbsp;</h2>
                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" width="32" height="32" />文档中心
                                </div>
                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" width="32" height="32" />通讯录
                                </div>
                                <div class="ribbon-list">
                                    <div onclick="parent.main.location.href = ''" class="nav">
                                        <img src="" width="16" height="16" />写信息
                                    </div>
                                    <div onclick="parent.main.location.href = ''" class="nav">
                                        <img src="" width="16" height="16" />收信箱
                                    </div>
                                    <div onclick="parent.main.location.href=''" class="nav">
                                        <img src="" width="16" height="16" />发信箱
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!--菜单2-->
                    <li>
                        <a href="#ShiChang">系统设置</a>
                        <ul>
                            <li style="list-style: none none inside;">
                                <h2><font size="2">常用功能</font></h2>

                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" alt="Exit" width="32" height="32" /><span>系统日志</span>
                                </div>
                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" alt="About" width="32" height="32" /><span>账号管理</span>
                                </div>
                            </li>
                            <li style="list-style: none none inside;">
                                <h2><font size="2">基础设置</font></h2>
                                <div onclick="parent.main.location.href = ''" class="nav">
                                    <img src="" alt="Rich Text" width="32" height="32" /><span>系统参数</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>